:root {
    --bg: #101011;
    --bg-2: #202022;
    --fg: #f0f0f0;
    --fg-2: #d0d0d0;
    --input-padding: 5px 10px;
    --input-border-radius: 5px;
    --input-border-width: 1px;
    --font-size-base: 16px;
    --blue: #16bac5ff;
    --green: #6a994eff;
    --red: #bc4749ff;
    --yellow: #f0c929ff;
    --purple: #6a4c93ff;
}

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100dvw;
    height: 100dvh;
    color: var(--fg);
    font-size: var(--font-size-base);
}

body {
    display: flex;
    background: var(--bg);
}

canvas#target {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 1px solid var(--fg);
    object-position: top;
    height: max-content;
    width: 100%;
    margin: 10px 0 10px 10px;
}

.history-panel {
    margin-left: 10px;
    margin-top: 10px;
    max-width: calc(100dvw - 20px);
    overflow-y: hidden;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 10px;
    background: var(--bg-2);
    border-radius: var(--input-border-radius);
}

.history-item {
    width: 256px;
    height: 144px;
    border-radius: var(--input-border-radius);
    cursor: pointer;
    transform: scale(0.85);
}

.history-item:hover {
    transform: scale(0.95);
}

.history-item.active {
    border: 5px solid var(--yellow);
    box-sizing: border-box;
    transform: scale(1);
}

.history-item canvas {
    width: 100%;
    height: 100%;
}

.color-indicator, .range-indicator {
    height: 1em;
    width: 1em;
    align-self: center;
    border-radius: 50%;
}

svg.range-indicator {
    border-radius: 0;
    width: 16px;
    height: 16px;
}

.color-indicator:hover, .range-indicator-container:hover {
    background: var(--bg-2);
    transform: scale(1.1);
}

.range-indicator-container {
    width: max-content;
}

.no-gap {
    gap: 0 !important;
}

.circle-toggle {
    cursor: pointer;
    border-radius: var(--input-border-radius);
}

.circle-toggle:hover {
    background: var(--bg-2);
}

.collapsible-header {
    cursor: pointer;
}

.collapsible {
    background: var(--bg-2);
    padding: 10px;
    border-radius: var(--input-border-radius);
    border: 1px solid var(--fg-2);
}

.collapsible-content {
    display: none;
    overflow: auto;
    transition: max-height 0.25s ease-out;
    flex-direction: column;
    gap: 10px;
}

span {
    text-wrap: nowrap;
}

.rot0 {
    transform: rotate(0deg);
}

.rot90 {
    transform: rotate(90deg);
}

.rot180 {
    transform: rotate(180deg);
}

.rot270 {
    transform: rotate(270deg);
}

.flex, .flex-v {
    display: flex;
    gap: 10px;
}

.flex-v {
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
}

.flex:not([prevent-center]) > * {
    align-self: center;
}

.align-center {
    align-items: center;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.control {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    background: var(--bg-2);
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    color: var(--fg);
}

.control-value {
    width: 20px;
    text-align: right;
    padding-right: 5px;
}

input, button, textarea, select {
    width: max-content;
}

button {
    cursor: pointer;
}

button, input:not([type="checkbox"]):not([type="range"]), textarea, select {
    background: var(--bg-2);
    border: var(--input-border-width) solid var(--fg-2);
    border-radius: var(--input-border-radius);
    color: var(--fg);
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-base);
    margin: 0;
    padding: var(--input-padding);
    height: max-content;
}

button.no-border, input.no-border:not([type="checkbox"]):not([type="range"]), textarea.no-border, select.no-border {
    border: none;
    background: transparent;
}

button.positive, input.positive:not([type="checkbox"]):not([type="range"]), textarea.positive, select.positive {
    border: var(--input-border-width) solid var(--green);
    color: var(--green);
}

button.negative, input.negative:not([type="checkbox"]):not([type="range"]), textarea.negative, select.negative {
    border: var(--input-border-width) solid var(--red);
    color: var(--red);
}

button.sensitive, input.sensitive:not([type="checkbox"]):not([type="range"]), textarea.sensitive, select.sensitive {
    border: var(--input-border-width) solid var(--yellow);
    color: var(--yellow);
}

button:hover {
    background: var(--bg);
}

.material-symbols-outlined {
    font-size: 1em !important;
}

[type="checkbox"] {
    position: relative;
    left: 15px;
    top: -4px;
    z-index: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

[type="checkbox"] + label {
    position: absolute;
    cursor: pointer;
}

[type="checkbox"] + label::before {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    border: 2px solid var(--fg);
    background-color: var(--bg);
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
}

[type="checkbox"]:checked + label::before {
    box-shadow: inset 0 0 0 3px var(--bg);
    background-color: var(--fg);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    min-width: 200px;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"] {
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    box-shadow: 0 0 0 var(--bg), 0 0 0 var(--bg);
    background: var(--bg);
    border-radius: 25px;
    border: 0 solid var(--bg);
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0 0 0 var(--bg), 0 0 0 var(--bg);
    border: 0 solid var(--bg);
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: var(--fg);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--bg);
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    box-shadow: 0 0 0 var(--bg), 0 0 0 var(--bg);
    background: var(--bg);
    border-radius: 25px;
    border: 0 solid var(--bg);
}

input[type="range"]::-moz-range-thumb {
    box-shadow: 0 0 0 var(--bg), 0 0 0 var(--bg);
    border: 0 solid var(--bg);
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: var(--fg);
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: var(--bg);
    border: 0 solid var(--bg);
    border-radius: 50px;
    box-shadow: 0 0 0 var(--bg), 0 0 0 var(--bg);
}

input[type="range"]::-ms-fill-upper {
    background: var(--bg);
    border: 0 solid var(--bg);
    border-radius: 50px;
    box-shadow: 0 0 0 var(--bg), 0 0 0 var(--bg);
}

input[type="range"]::-ms-thumb {
    box-shadow: 0 0 0 var(--bg), 0 0 0 var(--bg);
    border: 0 solid var(--bg);
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background: var(--fg);
    cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
    background: var(--bg);
}

input[type="range"]:focus::-ms-fill-upper {
    background: var(--bg);
}